body {
    background-color: #BFBFBF !important;
}

.navbar-wrapper, .header-wrapper {
    background-color: #FFFFFF !important;
}

.header-clock {
    display: hidden;
}

.header-clock .clock {
    width: 40px;
}

.header-clock .text {
    color: #1C75BC;
}

/* Will only apply for bigger screens */
@media screen and (min-width: 768px) {
    .dash-content {
        margin-left: 30px;
    }

    .header-wrapper {
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 10px;
        align-items: center;
    }

    .header-right {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .header-clock {
        background-color: #DFF1FF;
        color: #1C75BC !important;
        padding: 5px 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}